body {
  text-align: center;
  font-family: Arial;
}

#container {
  width: 960px;
  height: 960px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.square {
  box-sizing: border-box;
  border: 1px solid #eee;
}